html, body {
    height: 100%;
    width: 100%;
    color: white;
    background-color: rgb(51,51,51);
    overflow-x: hidden;
    font-family: "Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-top: 5px;
}

.container {
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    -webkit-box-pack: center;
}

.content {
    max-width: 480px;
}

/* Time */
.header-time {
    display: flex;
}

.stage, .week {
    text-transform: uppercase;
    font-size: 0.9em;
}

.teams-header {
    text-transform: uppercase;
    font-size: 0.75em;
}

.stage {
    font-weight: bold;
}

.week {
    margin-left: auto;
}

#stage-num, #week-num {
    font-size: 1.1em !important;
}

/* Team rows */
.teams-header {
    margin-top: 5px;
    display: flex;
    align-content: center;
}

.teams-header span {
    text-align: center;
    justify-content: center;
}

#teams ul {
    margin-left: 0;
    margin-top: 0;
    padding: 0;
}

#teams li {
    list-style: none;
    display: flex;
    align-content: center;
    margin: 4px 0;
}

#teams .team-icon, #teams .team-name, #teams .team-rank, #teams .team-internal-rank, #teams .team-record {
    height: 30px;
    line-height: 30px;
}

.team-icon {
    padding: 3px 5px 3px 5px;
}

.team-icon img {
    height: 100%;
    width: 30px;
}

.team-name, .team-rank, .team-internal-rank, .team-record {
    padding: 3px 0;
}

.team-name {
    padding-left: 10px;
}

.team-name-abbrv {
    display: none;
}

@media (max-width: 600px) {
    .team-name-full {
        display: none;
    }

    .team-name-abbrv {
        display: block;
    }
}

.team-rank {
    margin-left: auto;
    padding-right: 10px;
    display: flex;
    min-width: 80px;
}

.team-rank-icon {
    margin-left: auto;
}

.team-rank-icon img {
    height: 30px;
    width: 30px;
}

.team-internal-rank {
    min-width: 40px;
    margin: 0 13px;
    text-align: center;
}

@media (max-width: 400px) {
    .team-internal-rank {
        margin: 0 8px;
    }
}

.team-record {
    min-width: 70px;
    text-align: center;
}
