html, body {
    height: 100%;
    width: 100%;
    color: white;
    background-color: rgb(51,51,51);
    overflow-x: hidden;
    font-family: "Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-top: 5px;
}

.container {
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    -webkit-box-pack: center;
}

.content {
    max-width: 980px;
}

.ranking, .right-area {
    display: inline-block;
    margin: 0 20px;
}

/* Time */
.header-time {
    display: flex;
}

.stage, .week {
    text-transform: uppercase;
    font-size: 0.9em;
}

.teams-header {
    text-transform: uppercase;
    font-size: 0.75em;
}

.stage {
    font-weight: bold;
}

.week {
    margin-left: auto;
}

#stage-num, #week-num {
    font-size: 1.1em !important;
}

/* Team rows */
.teams-header {
    margin-top: 5px;
    display: flex;
    align-content: center;
}

.teams-header span {
    text-align: center;
    justify-content: center;
}

#teams ul {
    margin-left: 0;
    margin-top: 0;
    padding: 0;
}

#teams li {
    list-style: none;
    display: flex;
    align-content: center;
    margin: 4px 0;
}

#teams .team-icon, #teams .team-name, #teams .team-rank, #teams .team-internal-rank, #teams .team-record {
    height: 30px;
    line-height: 30px;
}

.team-icon {
    padding: 3px 5px 3px 5px;
}

.team-icon img {
    height: 100%;
    width: 30px;
}

.team-name, .team-rank, .team-internal-rank, .team-record {
    padding: 3px 0;
}

.team-name {
    padding-left: 10px;
}

.team-name-abbrv {
    display: none;
}

@media (max-width: 600px) {
    .team-name-full {
        display: none;
    }

    .team-name-abbrv {
        display: block;
    }
}

.team-rank {
    margin-left: auto;
    padding-right: 10px;
    display: flex;
    min-width: 80px;
}

.team-rank-icon {
    margin-left: auto;
}

.team-rank-icon img {
    height: 30px;
    width: 30px;
}

.team-internal-rank {
    min-width: 40px;
    margin: 0 13px;
    text-align: center;
}

@media (max-width: 400px) {
    .team-internal-rank {
        margin: 0 8px;
    }
}

.team-record {
    min-width: 70px;
    text-align: center;
}

/* Right side */
.right-area {
    vertical-align: top;
}

#matches, .settings {
    height: 45%;
}

/* Match results */
#matches {
    margin-top: 30px;
    text-align: center;
    min-width: 260px;
}

.match-wrapper {
    display: flex;
    justify-content: center;
}

.match {
    display: flex;
    padding: 15px;
    border: 2px #f83 dashed;
    border-radius: 3px;
    justify-content: center;
    margin: 5px 0;
}

.match-team-result {
    align-self: center;
}

.match-team-wrapper {
    text-align: center;
}

.match-team-icon img {
    width: 50px;
}

.match-team-name {
    font-size: 0.6em;
    font-weight: bold;
}

.match-team-result {
    margin: 0 30px;
    font-size: 2em;
    font-weight: bold;
}

.match-wrapper:not([data-pos="0"]) .match {
    height: 30px;
    width: 160px;
    font-size: 0.6em;
}

.match-wrapper:not([data-pos="0"]) .match-team-name {
    display: none;
}

.match-wrapper:not([data-pos="0"]) .match {
    border: 1px rgb(164, 131, 108) dashed;
}

.match-wrapper:not([data-pos="0"])  img {
    height: 30px;
    width: 30px;
}
