
/** Pretty CSS Toggle **/
/* @author: mallendeo
   @src: https://codepen.io/mallendeo/pen/eLIiG
*/
.tgl {
    display: none;
  }
  .tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
    box-sizing: border-box;
  }
  .tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
    background: none;
  }
  .tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
    background: none;
  }
  .tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
  }
  .tgl + .tgl-btn:after {
    left: 0;
  }
  .tgl + .tgl-btn:before {
    display: none;
  }
  .tgl:checked + .tgl-btn:after {
    left: 50%;
  }
  .tgl-skewed + .tgl-btn {
    overflow: hidden;
    -webkit-transform: skew(-10deg);
            transform: skew(-10deg);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    transition: all 0.2s ease;
    font-family: sans-serif;
    background: #888;
  }
  .tgl-skewed + .tgl-btn:after, .tgl-skewed + .tgl-btn:before {
    -webkit-transform: skew(10deg);
            transform: skew(10deg);
    display: inline-block;
    transition: all 0.2s ease;
    width: 100%;
    text-align: center;
    position: absolute;
    line-height: 2em;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  }
  .tgl-skewed + .tgl-btn:after {
    left: 100%;
    content: attr(data-tg-on);
  }
  .tgl-skewed + .tgl-btn:before {
    left: 0;
    content: attr(data-tg-off);
  }
  .tgl-skewed + .tgl-btn:active {
    background: #888;
  }
  .tgl-skewed + .tgl-btn:active:before {
    left: -10%;
  }
  .tgl-skewed:checked + .tgl-btn {
    background: rgb(112, 149, 118);
  }
  .tgl-skewed:checked + .tgl-btn:before {
    left: -100%;
  }
  .tgl-skewed:checked + .tgl-btn:after {
    left: 0;
  }
  .tgl-skewed:checked + .tgl-btn:active:after {
    left: 10%;
  }

/*
*
*
*
*
* PAGE CSS
*
*
*
*/

html, body {
    height: 100%;
    width: 100%;
    color: white;
    background-color: rgb(51,51,51);
    overflow-x: hidden;
    font-family: "Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-top: 5px;
}

.container {
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    -webkit-box-pack: center;
}

.content {
    max-width: 980px;
}

.ranking, .right-area {
    display: inline-block;
    margin: 0 20px;
}

/* Time */
.header-time {
    display: flex;
}

.stage, .week {
    text-transform: uppercase;
    font-size: 0.9em;
}

.teams-header {
    text-transform: uppercase;
    font-size: 0.75em;
}

.stage {
    font-weight: bold;
}

.week {
    margin-left: auto;
}

#stage-num, #week-num {
    font-size: 1.1em !important;
}

/* Team rows */
.teams-header {
    margin-top: 5px;
    display: flex;
    align-content: center;
}

.teams-header span {
    text-align: center;
    justify-content: center;
}

#teams ul {
    margin-left: 0;
    margin-top: 0;
    padding: 0;
}

#teams li {
    list-style: none;
    display: flex;
    align-content: center;
    margin: 4px 0;
}

#teams .team-icon, #teams .team-name, #teams .team-rank, #teams .team-internal-rank, #teams .team-record {
    height: 30px;
    line-height: 30px;
}

.team-icon {
    padding: 3px 5px 3px 5px;
}

.team-icon img {
    height: 100%;
    width: 30px;
}

.team-name, .team-rank, .team-internal-rank, .team-record {
    padding: 3px 0;
}

.team-name {
    padding-left: 10px;
}

.team-name-abbrv {
    display: none;
}

@media (max-width: 600px) {
    .team-name-full {
        display: none;
    }

    .team-name-abbrv {
        display: block;
    }
}

.team-rank {
    margin-left: auto;
    padding-right: 10px;
    display: flex;
    min-width: 80px;
}

.team-rank-icon {
    margin-left: auto;
}

.team-rank-icon img {
    height: 30px;
    width: 30px;
}

.team-internal-rank {
    min-width: 40px;
    margin: 0 13px;
    text-align: center;
}

@media (max-width: 400px) {
    .team-internal-rank {
        margin: 0 8px;
    }
}

.team-record {
    min-width: 70px;
    text-align: center;
}

/* Right side */
.right-area {
    vertical-align: top;
}

/* Match results */
#matches {
    margin-top: 30px;
    text-align: center;
    min-width: 260px;
    height: 50%;
}

.match-wrapper {
    display: flex;
    justify-content: center;
}

.match {
    display: flex;
    padding: 15px;
    border: 2px #f83 dashed;
    border-radius: 3px;
    justify-content: center;
    margin: 5px 0;
}

.match-team-result {
    align-self: center;
}

.match-team-wrapper {
    text-align: center;
}

.match-team-icon img {
    width: 50px;
}

.match-team-name {
    font-size: 0.6em;
    font-weight: bold;
}

.match-team-result {
    margin: 0 30px;
    font-size: 2em;
    font-weight: bold;
}

.match-wrapper:not([data-idx="0"]) .match {
    height: 30px;
    width: 160px;
    font-size: 0.6em;
}

.match-wrapper:not([data-idx="0"]) .match-team-name {
    display: none;
}

.match-wrapper:not([data-idx="0"]) .match {
    border: 1px rgb(164, 131, 108) dashed;
}

.match-wrapper:not([data-idx="0"])  img {
    height: 30px;
    width: 30px;
}

/* Settings */
#settings {
    margin-top: 30px;
}

#settings h4 {
    text-align: center;
}

.setting {
    display: inline-grid;
    margin: 0 8px;
    height: 50px;
}

.setting-title {
    margin-bottom: 5px;
}

.player-control {
    padding: 3px;
    font-size: 1.2em;
    cursor: pointer;
}
